@media print {
  *{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }

  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Show only the chosen print area */
  .print-area, .print-area * {
    visibility: visible;
  }

  /* Make it fill the page */
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /*Hide navbars and footers by class or tag as a fallback */
  nav, .site-navbar, footer, .site-footer, button, .non-print {
    display: none !important;
    visibility: hidden !important;
  }
}
