@media print {
  .site-navbar, .site-footer {
    display: none !important;
  }
  
  *{
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Hide everything by default */
  body * {
    visibility: hidden;
  }

  /* Show only the chosen print area */
  .print-area, .print-area * {
    visibility: visible;
  }

  /* Make it fill the page */
  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
